{% extends "base.html" %}
{% load static %}

{% block title %}
  Анфиса для друзей. Каталог мороженого
{% endblock %}

{% block content %}
  <h1 class="pb-2 mb-0">Каталог мороженого</h1>
  <div class="row">
    {% for ice_cream in ice_cream_list %}
      <div class="col-6 col-md-4 my-1">
        <div class="card h-100">
          <img 
            class="img-fluid card-img-top" 
            width="300" height="400"
            src="{% static ice_cream.image %}" 
            alt="{{ ice_cream.title }}"
          >
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ ice_cream.title }}</h5>
            {% if ice_cream.description %}
              <p class="card-text flex-grow-1">
                {{ ice_cream.description|truncatewords:10 }}
              </p>
            {% endif %}
            <a class="mt-3 btn btn-outline-primary" href="{% url 'ice_cream:ice_cream_detail' ice_cream.id %}">
              Подробнее
            </a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p class="text-center">Мороженое пока не добавлено</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}